@import "./global/header.css";
@import "./global/global.css";
@import "./home/introducao.css";
@import "./bicicletas-lista/bicicletas.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";
@import "./seguros/seguros.css";
