.bicicletas-lista {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0px 20px 20px;
  overflow-x: auto;
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1.125;
  color: #111;
  font-family: "Poppins";
  font-weight: 600;
}

.bicicletas-lista .container-h2 span {
  color: #ffbb00;
  font-family: Arial, Helvetica, sans-serif;
}

.bicicletas-valor {
  font-size: 18px;
  font-family: "Roboto";
  color: #595959;
  padding-left: 20px;
}

.container-h2 {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}

.bicicletas-lista li {
  min-width: 280px;
}

.bicicletas-titulo {
  margin-bottom: 8px;
  font-size: 32px;
  font-family: "Poppins";
  display: flex;
  align-items: center;
}

.bicicletas-titulo::before {
  display: inline-block;
  content: "";
  background-color: #ffbb00;
  width: 12px;
  height: 8px;
  margin-right: 10px;
  transition: width .2s;
}

.bicicletas-lista a:hover .bicicletas-titulo::before {
  display: inline-block;
  content: "";
  background-color: #ffbb00;
  width: 25px;
  height: 8px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }

  .bicicletas-lista ul {
    gap: 20px;
  }
}
