* {
  box-sizing: border-box;
}

h1,
ul,
p {
  margin: 0;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 600px;
}

ul {
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}