* {
  box-sizing: border-box;
}

h1,
ul,
p,
h3,
h4,
h2,
blockquote {
  margin: 0;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1000px;
}

ul {
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

[src$=".jpg"] {
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
