.introducao-bg {
  background: #000;
  color: #fff;
  box-shadow: inset 0 -120px white;
  position: relative;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
  z-index: 1;
}

.introducao h1 {
  margin-bottom: 30px;
  font-size: 64px;
  line-height: 1.125;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.125;
  color: #b2b2b2;
  font-family: "Roboto";
  font-weight: 400;
}

.introducao h1 span {
  color: #ffbb00;
  font-family: Arial, Helvetica, sans-serif;
}

.introducao a {
  background: linear-gradient(#ffbb00, #f2a50c);
  padding: 16px 32px;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
  z-index: 99;
}

.introducao a::before {
  content: "";
  background: url(../../img/dec/bottom-left.svg) no-repeat center;
  position: absolute;
  display: block;
  width: 100px;
  height: 120px;
  left: 0px;
  z-index: -1;
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }

  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: #111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #fff;
  }

  .introducao a::before {
    display: none;
  }

  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .introducao a {
    padding: 12px 16px;
    font-size: 16px;
  }
}
