.tecnologia-bg {
  background: #111111;
  color: #fff;
  box-shadow:
    inset 0 -80px,
    inset 0 80px #fff;
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-conteudo {
  padding-bottom: 180px;
  padding-top: 180px;
}

.tecnologia-imagem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo > span {
  display: block;
  color: #b2b2b2;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Roboto";
  margin-bottom: 20px;
}

.tecnologia-conteudo h2 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
}

.tecnologia-conteudo h2 span {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffbb00;
  font-size: 64px;
}

.tecnologia-conteudo > p {
  margin-bottom: 20px;
  font-size: 24px;
  color: #b2b2b2;
  font-family: "Roboto";
}

.tecnologia-conteudo a {
  color: #ffbb00;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Poppins";
  border-bottom: 4px solid #ffbb00;
  padding: 2px 0;
  margin-bottom: 80px;
}

.tecnologia-conteudo a:hover {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Poppins";
  border-bottom: 4px solid #ffbb00;
  padding: 2px 0;
  margin-bottom: 80px;
}

.tecnologia-vantagens {
  display: flex;
  gap: 40px;
  margin-top: 80px;
}

.tecnologia-vantagens h3 {
  font-size: 18px;
  font-family: "Poppins";
  margin-bottom: 8px;
  width: max-content;
}

.tecnologia-vantagens img {
  width: 25px;
  height: 25px;
  margin-bottom: 8px;
}

.tecnologia-vantagens p {
  font-size: 16px;
  color: #b2b2b2;
}

@media (max-width: 1100px) {
  .tecnologia-conteudo h2 {
    font-size: 48px;
  }
}

@media (max-width: 800px) {
  .tecnologia-bg {
    box-shadow: initial;
  }
  .tecnologia {
    grid-template-columns: 1fr;
  }

  .tecnologia-conteudo h2 {
    font-size: 32px;
  }

  .tecnologia-conteudo a {
    font-size: 25px;
  }

  .tecnologia-conteudo span {
    font-size: 20px;
  }

  .tecnologia-conteudo p {
    font-size: 20px;
  }

  .tecnologia-vantagens p {
    font-size: 20px;
  }

  .tecnologia-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .tecnologia-imagem {
    display: none;
  }

  .tecnologia-vantagens {
    margin-top: 60px;
  }
}

@media (max-width: 600px) {
  .tecnologia-vantagens {
    flex-direction: column;
  }
}
